---

import MainLayout from "../../components/MainLayout.astro";

---
<MainLayout title="Blog">
  
      <section>
        <div class="py-20 bg-gray-50 min-h-[calc(100vh-100px)]">
          <div class="container mx-auto px-4 w-full lg:w-3/4">
            <div class="flex gap-4 flex-wrap">
              <div class="flex flex-wrap -mx-3">
                <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                  <img
                    class="w-full h-full object-cover rounded"
                    src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80"
                    alt=""
                  />
                </div>
                <div class="w-full lg:w-3/4 px-3">
                  <a class="hover:underline" href="#">
                    <h3 class="mb-1 text-2xl font-bold font-heading">
                      Morbi scelerisque nulla et lectus dignissim eleifend nulla
                      eu nulla a metus
                    </h3>
                  </a>
                  <div class="mb-2 flex items-center text-sm">
                    <a
                      class="text-green-600 hover:underline hover:text-green-700"
                      href="#">John Doe</a
                    >
                    <span class="text-gray-400 mx-2">•</span>
                    <span class="text-gray-400">24 Jan, 2021</span>
                  </div>
                  <p class="text-gray-500">
                    Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu
                    dictum...
                  </p>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3">
                <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                  <img
                    class="w-full h-full object-cover rounded"
                    src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80"
                    alt=""
                  />
                </div>
                <div class="w-full lg:w-3/4 px-3">
                  <a class="hover:underline" href="#">
                    <h3 class="mb-1 text-2xl font-bold font-heading">
                      Morbi scelerisque nulla et lectus dignissim eleifend nulla
                      eu nulla a metus
                    </h3>
                  </a>
                  <div class="mb-2 flex items-center text-sm">
                    <a
                      class="text-green-600 hover:underline hover:text-green-700"
                      href="#">John Doe</a
                    >
                    <span class="text-gray-400 mx-2">•</span>
                    <span class="text-gray-400">24 Jan, 2021</span>
                  </div>
                  <p class="text-gray-500">
                    Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu
                    dictum...
                  </p>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3">
                <div class="mb-4 lg:mb-0 w-full lg:w-1/4 px-3">
                  <img
                    class="w-full h-full object-cover rounded"
                    src="https://images.unsplash.com/photo-1578509395623-a34c97f15379?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=968&q=80"
                    alt=""
                  />
                </div>
                <div class="w-full lg:w-3/4 px-3">
                  <a class="hover:underline" href="#">
                    <h3 class="mb-1 text-2xl font-bold font-heading">
                      Morbi scelerisque nulla et lectus dignissim eleifend nulla
                      eu nulla a metus
                    </h3>
                  </a>
                  <div class="mb-2 flex items-center text-sm">
                    <a
                      class="text-green-600 hover:underline hover:text-green-700"
                      href="#">John Doe</a
                    >
                    <span class="text-gray-400 mx-2">•</span>
                    <span class="text-gray-400">24 Jan, 2021</span>
                  </div>
                  <p class="text-gray-500">
                    Quisque id sagittis turpis. Nulla sollicitudin rutrum eros eu
                    dictum...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</MainLayout>
  
<style></style>

<script></script>