---
interface Props {
    title: string;
}

const { title } = Astro.props;
import Head from "../components/Head.astro";
import Nav from "./Nav.astro";
---

<html lang="en">
  <Head title={title} />
  <body>
    <Nav />
    <div>
        <slot />
   </div>
  </body>
</html>